input[type=submit].button {
    background-color: #FDBF5A;
    width: 22.0625rem;
    height: 3.8125rem;
    border-radius: 4.375rem;
    font-size: 1.5rem;
    transition: background-color .3s;
    padding: 1rem 0 1rem;

    &:hover {
        background-color: #FFA842;
    }
}

