.login-page-wrapper {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}

.logo-section {
    width: 35%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.login-section {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/map-bg.jpg) center center no-repeat;
    background-size: cover;
}

.form {
    width: 100%;
}

.form__title {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 3.5625rem;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form__label.label {
    color: black;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: .625rem;
}

.forgot-password__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2.875rem;
}

.forgot-password__btn {
    display: flex;
    justify-content: flex-start;
    color: #828282;
}

.button.button--margin {
    margin-bottom: 2.0625rem;
}

.switch-form {
    display: flex;
    justify-content: center;
}

.switch-form__text {
    color: #828282;
    margin-right: 3px;
}

.switch-form__btn {
    color: #FDBF5A;
    cursor: pointer;
    transition: color .3s;

    &:hover {
        color: #FFA842;
    }
}