@import "./styles/media.scss";

//default fonts

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$baseFontSize: 14px;

//breakpoints

$tablets: 768px;
$phones: 480px;

//setups

@import "./styles/layout.scss";
@import url('https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css');

//components

@import "./styles/profile.scss";
@import "./styles/map.scss";
@import "./styles/login.scss";
@import "./styles/header.scss";
@import "./styles/button.scss";